body {   background-image: url('da.jpg'); 
   background-repeat: no-repeat;  
   background-attachment: fixed; 
    background-position: right 10px top 10px;      }
    h1, h2, h3, h4, h5, h6 { color: Blue;}
    ul{list-style-type: square;}
    ol {  list-style-type: upper-roman;}
    ol > li > ol {    list-style-type: lower-roman;}
    a:link {  text-decoration: none;  color:red;}
    a:visited {  text-decoration: none;  color:blue;}
    a:hover {  text-decoration: underline;  color:green;}
    a:active {  text-decoration: underline;  color:black;}
    p.a1{color:blue;font-family:verdana;font-size:12pt;}
    p.a2{color:red;font-family:courier;font-size:14pt;}
p.a3{color:green;font-family:Times News Roman;font-size:16pt;}
.sheet1 h5{  padding:10px;  border:5px solid brown;  margin:30px;}
